fastmcp==2.13.3
ibm-watsonx-orchestrate==2.7.0
ibm-watsonx-orchestrate-clients==2.7.0
ibm-watsonx-orchestrate-core==2.7.0
ibm-watsonx-orchestrate-mcp-server==2.7.0
mcp==1.22.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
